In [2]:
import pandas as pd
import torch.nn as nn
import torch

In [3]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'
column_names = ['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
                'Acceleration', 'Model Year', 'Origin']

df = pd.read_csv(url, names=column_names,
                 na_values = "?", comment='\t',
                 sep=" ", skipinitialspace=True)

df.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
393,27.0,4,140.0,86.0,2790.0,15.6,82,1
394,44.0,4,97.0,52.0,2130.0,24.6,82,2
395,32.0,4,135.0,84.0,2295.0,11.6,82,1
396,28.0,4,120.0,79.0,2625.0,18.6,82,1
397,31.0,4,119.0,82.0,2720.0,19.4,82,1

In [4]:
print('hello')

hello

In [5]:
display(df)

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1
394,44.0,4,97.0,52.0,2130.0,24.6,82,2
395,32.0,4,135.0,84.0,2295.0,11.6,82,1
396,28.0,4,120.0,79.0,2625.0,18.6,82,1
397,31.0,4,119.0,82.0,2720.0,19.4,82,1

In [6]:
df.isna().sum()

MPG             0
Cylinders       0
Displacement    0
Horsepower      6
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

In [7]:
df = df.dropna()

In [8]:
df

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1
394,44.0,4,97.0,52.0,2130.0,24.6,82,2
395,32.0,4,135.0,84.0,2295.0,11.6,82,1
396,28.0,4,120.0,79.0,2625.0,18.6,82,1
397,31.0,4,119.0,82.0,2720.0,19.4,82,1

In [9]:
import sklearn
import sklearn.model_selection

In [ ]:
df_train, df_test = sklearn.model_selection.train_test_split(df, train_size=0.8, random_state=1)
train_stats = df_train.describe().transpose()
train_stats

In [11]:
df_train, df_test = sklearn.model_selection.train_test_split(df,train_size = 0.8, random_state = 1)

In [13]:
train_stats = df_train.describe().transpose()
train_stats

,count,mean,std,min,25%,50%,75%,max
MPG,313.0,23.404153,7.666909,9.0,17.5,23.0,29.0,46.6
Cylinders,313.0,5.402556,1.701506,3.0,4.0,4.0,8.0,8.0
Displacement,313.0,189.512780,102.675646,68.0,104.0,140.0,260.0,455.0
Horsepower,313.0,102.929712,37.919046,46.0,75.0,92.0,120.0,230.0
Weight,313.0,2961.198083,848.602146,1613.0,2219.0,2755.0,3574.0,5140.0
Acceleration,313.0,15.704473,2.725399,8.5,14.0,15.5,17.3,24.8
Model Year,313.0,75.929712,3.675305,70.0,73.0,76.0,79.0,82.0
Origin,313.0,1.591054,0.807923,1.0,1.0,1.0,2.0,3.0

In [18]:
numeric_column_names = ['Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration']
df_train_norm, df_test_norm = df_train.copy(), df_test.copy()

for col_name in numeric_column_names:
    mean, std = train_stats.loc[col_name, 'mean'], train_stats.loc[col_name,'std']
    df_train_norm.loc[:, col_name] = (df_train_norm.loc[:, col_name] - mean )/ std
    df_test_norm.loc[:, col_name] = (df_test_norm.loc[:, col_name] - mean )/ std

In [20]:
df_train_norm.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
205,28.0,-0.824303,-0.901020,-0.736562,-0.950031,0.255202,76,3
257,19.4,0.351127,0.413800,-0.340982,0.293190,0.548737,78,1
73,13.0,1.526556,1.144256,0.713897,1.339617,-0.625403,72,1
237,30.5,-0.824303,-0.891280,-1.053025,-1.072585,0.475353,77,1
38,14.0,1.526556,1.563051,1.636916,1.470420,-1.359240,71,1

## Handling categorical values [ordered/ ordinal, unordered]

### ordered categorical values

In [22]:
boundaries = torch.tensor([73, 76,79])
v = torch.tensor(df_train_norm["Model Year"].values)

In [23]:
df_train_norm['Model Year Bucketed'] = torch.bucketize(v, boundaries, right = True)

In [25]:
v = torch.tensor(df_test_norm["Model Year"].values)

In [26]:
df_test_norm['Model Year Bucketed'] = torch.bucketize(v,boundaries, right = True)

In [27]:
numeric_column_names.append('Model Year Bucketed')

### Unordered values

converting the values into one-hot representation

In [28]:
from torch.nn.functional import one_hot

In [29]:
total_origin = len(set(df_train_norm['Origin']))

In [30]:
total_origin

3

In [34]:
x = torch.tensor(df_train_norm[numeric_column_names].values)

In [43]:
display(df_train_norm)

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin,Model Year Bucketed
338,27.2,-0.824303,-0.530922,-0.499214,-0.555264,-0.001641,81,1,3
260,18.6,0.351127,0.345625,0.186457,0.776338,1.099115,78,1,2
141,29.0,-0.824303,-0.891280,-0.525586,-0.874613,0.291894,74,2,1
312,37.2,-0.824303,-1.008153,-1.000281,-1.110294,0.255202,80,3,3
353,33.0,-0.824303,-0.823104,-0.762934,-0.908786,-0.552019,81,2,3
...,...,...,...,...,...,...,...,...,...
205,28.0,-0.824303,-0.901020,-0.736562,-0.950031,0.255202,76,3,2
257,19.4,0.351127,0.413800,-0.340982,0.293190,0.548737,78,1,2
73,13.0,1.526556,1.144256,0.713897,1.339617,-0.625403,72,1,0
237,30.5,-0.824303,-0.891280,-1.053025,-1.072585,0.475353,77,1,2
38,14.0,1.526556,1.563051,1.636916,1.470420,-1.359240,71,1,0

In [47]:
df_train_norm[ ["MPG", "Cylinders"]].values.shape

(313, 2)

In [38]:
x[0]

tensor([-8.2430e-01, -5.3092e-01, -4.9921e-01, -5.5526e-01, -1.6412e-03,
         3.0000e+00], dtype=torch.float64)

In [ ]:
from torch.nn.functional import one_hot


total_origin = len(set(df_train_norm['Origin']))


origin_encoded = one_hot(torch.from_numpy(df_train_norm['Origin'].values) % total_origin)
x_train_numeric = torch.tensor(df_train_norm[numeric_column_names].values)
x_train = torch.cat([x_train_numeric, origin_encoded], 1).float()


origin_encoded = one_hot(torch.from_numpy(df_test_norm['Origin'].values) % total_origin)
x_test_numeric = torch.tensor(df_test_norm[numeric_column_names].values)
x_test = torch.cat([x_test_numeric, origin_encoded], 1).float()

In [51]:
a = torch.rand(2,2)
b = torch.rand(2,1)

In [49]:
print(a,b)

tensor([[0.6576, 0.1768],
        [0.3310, 0.1310]]) tensor([[0.6013],
        [0.5103]])

In [50]:
torch.cat([a,b] , 1)

tensor([[0.6576, 0.1768, 0.6013],
        [0.3310, 0.1310, 0.5103]])

In [52]:
origin_encoded = one_hot(torch.from_numpy(df_train_norm["Origin"].values) % total_origin)
x_train_numeric = torch.tensor(df_train_norm[numeric_column_names].values)
x_train = torch.cat([x_train_numeric, origin_encoded] , 1).float()

In [53]:
origin_encoded = one_hot(torch.from_numpy(df_test_norm["Origin"].values) % total_origin)
x_test_numeric = torch.tensor(df_test_norm[numeric_column_names].values)
x_test = torch.cat([x_test_numeric, origin_encoded] , 1).float()

In [56]:
y_train = torch.tensor(df_train_norm["MPG"].values ).float()
y_test = torch.tensor(df_test_norm["MPG"].values ).float()

In [99]:
y_train.shape

torch.Size([313])

In [58]:
x_test.shape

torch.Size([79, 9])

In [100]:
from torch.utils.data import DataLoader, TensorDataset

train_ds = TensorDataset(x_train,y_train)

batch_size = 8

train_dl = DataLoader(train_ds, batch_size, shuffle = True)

In [101]:
input_size

4

In [102]:
input_size = x_train.shape[1]

hidden_units = [8,4]
all_layers = []

for hidden_unit in hidden_units:
    layer = nn.Linear(input_size, hidden_unit)
    all_layers.append(layer)
    all_layers.append(nn.ReLU())
    input_size = hidden_unit

all_layers.append(nn.Linear(hidden_units[-1], 1))

model = nn.Sequential(*all_layers)

In [103]:
model

Sequential(
  (0): Linear(in_features=9, out_features=8, bias=True)
  (1): ReLU()
  (2): Linear(in_features=8, out_features=4, bias=True)
  (3): ReLU()
  (4): Linear(in_features=4, out_features=1, bias=True)
)

In [88]:
from functools import reduce

primes = [2, 3, 5, 7, 11, 13]

def product(*numbers):
    x = 0
    p = reduce(lambda x,y: x*y, numbers)
    return p 

print('unpacking', product(*primes))
# 30030
print(product(primes))

unpacking 30030
[2, 3, 5, 7, 11, 13]

In [79]:
numbers = [1, 2, 3, 4]

reduce(lambda a, b: a + b, numbers)

10

In [90]:
loss_fn = nn.MSELoss()
optimizer = torch.optim.SGD(model.parameters(), lr = 0.001)

In [105]:
torch.manual_seed(1)
num_epochs = 200
log_epochs = 20 
for epoch in range(num_epochs):
    loss_hist_train = 0
    for x_batch, y_batch in train_dl:
        pred = model(x_batch)[:, 0]
        loss = loss_fn(pred, y_batch)
        loss.backward()
        optimizer.step()
        optimizer.zero_grad()
        loss_hist_train += loss.item()
    if epoch % log_epochs==0:
        print(f'Epoch {epoch}  Loss {loss_hist_train/len(train_dl):.4f}')

Epoch 0  Loss 608.9735
Epoch 20  Loss 592.4597
Epoch 40  Loss 591.3345
Epoch 60  Loss 593.7554
Epoch 80  Loss 593.7586
Epoch 100  Loss 609.0991
Epoch 120  Loss 611.9068
Epoch 140  Loss 591.8718
Epoch 160  Loss 597.0680
Epoch 180  Loss 596.0479

In [91]:
torch.manual_seed(1)

In [98]:
for x_batch, y_batch in train_dl:
    print(x_batch.shape, y_batch.shape)

torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([8, 9]) torch.Size([8, 9])
torch.Size([1, 9]) torch.Size([1, 9])

In [104]:
num_epochs = 200
log_epochs = 20

for epoch in range(num_epochs):
    loss_hist_train = 0
    for x_batch, y_batch in train_dl:
        pred = model(x_batch)[:,0]
        loss = loss_fn(pred, y_batch)
        loss.backward()
        optimizer.step()
        optimizer.zero_grad()
        loss_hist_train += loss.item()
        
    if epoch % log_epochs==0:
        print(f'Epoch {epoch}  Loss {loss_hist_train/len(train_dl):.4f}')

Epoch 0  Loss 595.2321
Epoch 20  Loss 616.5788
Epoch 40  Loss 595.7103
Epoch 60  Loss 631.5516
Epoch 80  Loss 592.4759
Epoch 100  Loss 602.8897
Epoch 120  Loss 600.7211
Epoch 140  Loss 593.4182
Epoch 160  Loss 592.4597
Epoch 180  Loss 595.7103

In [96]:
model

Sequential(
  (0): Linear(in_features=9, out_features=8, bias=True)
  (1): ReLU()
  (2): Linear(in_features=8, out_features=4, bias=True)
  (3): ReLU()
  (4): Linear(in_features=4, out_features=1, bias=True)
)

In [97]:
model(torch.rand(5,9))[:,0]

tensor([0.1763, 0.2105, 0.1630, 0.2113, 0.1715], grad_fn=<SelectBackward0>)

In [106]:
with torch.no_grad():
    pred = model(x_test.float())[:, 0]
    loss = loss_fn(pred, y_test)
    print(f'Test MSE: {loss.item():.4f}')
    print(f'Test MAE: {nn.L1Loss()(pred, y_test).item():.4f}')

Test MSE: 621.7054
Test MAE: 23.5022